---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Arrow from "../components/Arrow.astro";

const posts = (await getCollection("blog"))
    .filter((post) => !post.data.authors.includes("ignore"))
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 3);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="flex-col w-screen p-4">
        <nav class="max-w-md w-full flex justify-between mx-auto mt-4 px-2">
            <span class="text-2xl">⛪🔭</span>
            <div class="flex text-brown-300 font-normal underline gap-2">
                <a href="/rss.xml" target="_blank">rss</a>
                <a
                    href="https://github.com/cathedral-research/cathedral"
                    target="_blank">github</a
                >
                <a href="https://youtu.be/qQzdAsjWGPg" target="_blank">my way</a
                >
            </div>
        </nav>
        <main class="max-w-md w-full flex flex-col mx-auto">
            <h1 class="mt-10 font-serif text-2xl pl-2">
                cathedral research group
            </h1>
            <h1 class="mt-8 text-brown-300 font-serif pl-2">newest posts</h1>
            <ul class="flex flex-col mt-2 gap-1">
                {
                    posts.map((post) => (
                        <li>
                            <a
                                class="transition-colors hover:bg-eggshell-50 gap-3 flex py-1 px-2 rounded-lg hover:ring-1 ring-eggshell-200"
                                href={`/blog/${post.id}/`}
                            >
                                <h4 class="font-medium">{post.data.title}</h4>
                                <div class="border-b border-dashed border-brown-300/50 flex-1 mb-1.5" />
                                <p class="text-brown-300 text-sm mt-1">
                                    <FormattedDate date={post.data.pubDate} />
                                </p>
                            </a>
                        </li>
                    ))
                }
            </ul>
            <a
                href="/blog"
                class="mt-2 px-2 py-1 text-center transition-colors hover:bg-eggshell-200 bg-eggshell-200/50 text-brown-500 border border-brown-300/20 rounded-lg"
                >all posts
            </a>
            <h1 class="mt-8 text-brown-300 font-serif pl-2">mc server</h1>

            <div class="flex gap-2 mt-1">
                <div
                    onclick="
                navigator.clipboard.writeText('play.cathedralresearch.com');
                document.getElementById('copy').innerText = 'copied';
                "
                    class="px-2 py-1 group border border-brown-300/20 flex-1 rounded-lg flex"
                >
                    <span class="group-hover:bg-eggshell-200">
                        play.cathedralresearch.com
                    </span>
                </div>
                <button
                    id="copy"
                    onclick="
                    navigator.clipboard.writeText('play.cathedralresearch.com');
                    document.getElementById('copy').innerText = 'copied';
                    "
                    class="transition-colors px-2 py-1 hover:bg-eggshell-200 bg-eggshell-200/50 hover:cursor-pointer text-brown-500 border border-brown-300/20 rounded-lg"
                >
                    copy
                </button>
            </div>
        </main>
    </body>
</html>
