---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main class="flex w-screen h-screen">
            <div class="flex flex-col mx-auto">
                <h1 class="text-center mt-10">
                    ⛪ cathedral research group 🔭
                </h1>
                <h1 class="text-center mt-10 text-grey-300">latest posts</h1>
                <ul class="flex flex-col items-center">
                    {
                        posts.map((post) => (
                            <li>
                                <a
                                    class="flex gap-4 hover:underline"
                                    href={`/blog/${post.id}/`}
                                >
                                    <h4>{post.data.title}</h4>
                                    <p>
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
                <h1 class="text-center mt-10 text-grey-300">
                    official MC server
                </h1>
                <h1 class="text-center">play.cathedralresearch.com</h1>
            </div>
        </main>
    </body>
</html>
